html{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
}

html,
body{
  height: 100%;
}

*,
*::after,
*::before{
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

ul,
ol{
  list-style: none;
}

a{
  text-decoration: none;
}

.container{
  max-width: 1244px;
  padding: 0 32px;
  margin: 0 auto;
}

.section__title{
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 800;
  line-height: 56px;
  text-align: center;
}

.logo-title{
  color: #FFFFFF;
  font-size: 14px;
}

.menu__list-item{
  color: #8492A5;
  font-size: 14px;
  font-weight: 600;
  line-height: 18.2px;
  cursor: pointer;
}

.menu__list-item.active{
  color: #7553F0;
}

.menu__list-item.active:hover{
  color: #7553F0;
}

.menu__list-item:hover{
  color: #FFFFFF;
  transition: all .25s ease;
}

.item-icon{
  width: 100%;
  height: 100%;
}

/* ---------------------- */

.header{
  background-color: #0F1115;
  padding: 24px 0;
}

.header__inner{
  display: flex;
  align-items: center;
}

.header__logo{
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 6px 0;
  margin-right:  48px;
  cursor: pointer;
}

.header__menu{
  margin-right: 317px;
}

.menu__list{
  display: flex;
  gap: 48px;
}

.header__button{
  padding: 6px 16px 9px;
  background: linear-gradient(99deg, #952EE5 10.42%, #302DDD 109.22%);
  box-shadow: 0px -3px 0px 0px rgba(4, 40, 36, 0.48) inset;
  border-radius: 5px;
  width: 200px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.header__button:hover{
  background: #552EE0;
}

.button__text{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

/* ----------------------- */
.advantages{
  background-color: #0F1115;
  padding-top: 128px;
}

.advantages__general{
  padding: 48px 0 148px;
  border-bottom: 1px solid #2F3641;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
}

.advantages__general-item{
  padding: 24px 20px 32px;
  border: 1px solid #2F3641;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.advantages__general-item.active::before{
  content: url('../assets/arrow-right.svg');
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  display: flex;
  align-items: center;
}

.advantages__general-item.active{
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #552EE0;
}

.advantages__general-item:hover{
  background: rgba(117, 83, 240, 0.10);
  border: 1px solid #552EE0;
}

.general__item-icon{
  width: 64px;
  height: 64px;
}

.general__item-title{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 800;
  line-height: 27px;
  margin-top: 16px;
}

.general__item-description{
  color: #D3DCE6;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-top: 8px;
}

/*------------------------------*/
.visited{
  background: #0F1115;
  padding: 80px 0 156px;
}

.visited__subtitle{
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding: 16px 0 40px;
}

.visited__general{
  display: flex;
  gap: 32px;
}

.visited__general-wrapper{
  display: flex;
  gap: 32px;
}

.visited__general-item{
  padding: 24px;
  background: #20252C;
  border-radius: 12px;
}

.general__item-img{
  width: 223px;
  height: 147px;
  border-radius: 12px;
}

.general__item-secondary{
  display: flex;
  gap: 8px;
  align-items: flex-end;
  margin-top: 16px;
}

.item__secondary-description{
  width: 183px;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 800;
  line-height: 28.5px;
}

.item__secondary-icon{
  width: 32px;
  height: 32px;
  cursor: pointer;
}

/* -------------------------- */
.footer{
  background: #0F1115;
  border-top: 1px solid #20252C;
}

.footer__inner{
  padding: 46px 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__inner-primary{
  width: 795.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 50px;
}

.footer__logo{
  padding: 6px 0;
  display: flex;
  align-items: center;
  gap: 9px;
  cursor: pointer;
}

.footer__menu-list{
  display: flex;
  gap: 32px;
}

.footer__menu-socials{
  display: flex;
  gap: 16px;
}

.menu__socials-discord{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #5A6AEF;
  box-shadow: 0px -3px 0px 0px #3F4DBE inset;
  padding: 12.5px 14px 15.5px;
  cursor: pointer;
}

.menu__socials-discord:hover{
  background: #3C4FEC;
  transition: all .15s ease-in-out;
}

.icon-social{
  width: 100%;
  height: 100%;
}

.menu__socials-twitter{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #3FAFEC;
  box-shadow: 0px -3px 0px 0px rgba(9, 88, 131, 0.65) inset;
  padding: 12.5px 14px 15.5px;
  cursor: pointer;
}

.menu__socials-twitter:hover{
  background: #1698DF;
  transition: all .15s ease-in-out;
}

.menu__socials-reddit{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #FC461E;
  box-shadow: 0px -3px 0px 0px #C42106 inset;
  padding: 12.5px 14px 15.5px;
  cursor: pointer;
}

.menu__socials-reddit:hover{
  background: #E82C03;
  transition: all .15s ease-in-out;
}

.menu__socials-telegram{
  width: 48px;
  height: 48px;
  border-radius: 5px;
  background: #3FAFEC;
  box-shadow: 0px -3px 0px 0px #1C76A8 inset;
  padding: 12.5px 14px 15.5px;
  cursor: pointer;
}

.menu__socials-telegram:hover{
  background: #1698DF;
  transition: all .15s ease-in-out;
}

.footer__bottom{
  padding-bottom: 12px;
  text-align: center;
}

.footer__bottom-text{
  color: #8492A5;
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
}




/* Footer-Mobile */
.footer__mobile{
  display: none;
}

/*----------------*/


/* Adaptive ------------------ */
@media(max-width: 1264px) {
  .visited__general{
    display: grid;
    justify-content: center;
  }
}

@media(max-width: 1085px) {
  .advantages{
    padding-top: 88px;
  }

  .advantages__general{
    padding: 48px 0 112px;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }

  .visited{
    padding: 88px 0 112px
  }

  .footer__inner{
    padding: 43px 0 21px;
  }

  .footer__inner-primary{
    margin-right: 34px;
  }
}

@media(max-width: 920px){
  .footer__mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 30px;
    gap: 32px;
  }

  .footer__inner,
  .footer__bottom{
    display: none;
  }
}

@media(max-width: 769px){
  .menu__list-item{
    font-size: 16px;
    line-height: 20.8px;
  }

  .visited{
    padding: 100px 0 104px;
  }

  .footer__menu-list{
    width: 282px;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 32px;
    row-gap: 20px;
  }
}

@media(max-width: 665px){
  .section__title{
    font-size: 32px;
    line-height: 44.8px;
  }

  .advantages{
    padding-top: 64px;
  }

  .advantages__general{
    padding: 32px 0 64px;
    grid-template-columns: repeat(1, 1fr);
  }

  .visited{
    padding: 56px 0 90px;
  }

  .visited__general{
    display: flex;
    margin-left: 305px;
  }
}



